@model IEnumerable<WebAppAzure.Models.Student>

@{
    ViewData["Title"] = "Display";
}
<link href="~/css/site.css" rel="stylesheet" />
<h1>Total Number of students are:  @ViewBag.noc </h1>
<h2>Displaying Student Records</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SContact)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
